.super {
  display: flex;
}
.subsuper {
  flex: auto;
  border: 1px solid;
  overflow-y: auto;
  overflow-x: auto;
}

#htmlCode {
  font-family:"Lucida Console", Monaco, monospace;
  font-size:0.5em;
}

#dropZone{
  margin: 20px;
  border: 5px dashed gray;
}
